
	.tp-header-transparent  .tp-header-logo img {
    width: 350px!important;
  }
	 .tp-header-logo img {
    width: auto!important;
    height: 120px;
    object-fit: contain;
  }
  .tp-header-area.tp-header-spacing-3{
    padding-top: 0px;
  }